<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="robotTraining">

<script type="text/ng-template" id="inventory_renderer.html">
    <div ui-tree-handle class="tree-node">
        <div class="tree-node-content">
            {{instruction.title}}
            <select data-nodrag ng-model="instruction.register" ng-if="instruction.register" ng-click=""
                    ng-options="storageOption.label for storageOption in storageOptions"></select>
        </div>
        <!--<ol ui-tree-nodes="" ng-model="instruction.body">
            <li ng-repeat="instruction in instruction.body" ui-tree-node ng-include="'inventory_renderer.html'">
            </li>
        </ol>-->
    </div>
</script>

<script type="text/ng-template" id="program_renderer.html">
    <div class="tree-node" ui-tree-handle>
        <div class="tree-node-content">
            {{instruction.title}}
            <select data-nodrag ng-model="instruction.register" ng-if="instruction.register" ng-click=""
                    ng-options="storageOption.label for storageOption in storageOptions"></select>
            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span
                    class="glyphicon glyphicon-remove"></span></a>
        </div>
    </div>
    <ol ui-tree-nodes="" ng-model="instruction.body" ng-class="{hidden: collapsed}">
        <li ng-repeat="instruction in instruction.body track by instruction.programInstructionId" ui-tree-node ng-include="'program_renderer.html'">
        </li>
    </ol>
</script>

<div class="container">
    <div class="row">
        <div class="col-lg-6" ng-controller="InventoryCtrl">
            <h3>Inventory</h3>

            <div ui-tree="inventoryOptions">
                <ol ui-tree-nodes ng-model="inventory.instructions">
                    <li ng-repeat="instruction in inventory.instructions track by instruction.programInstructionId"
                        ui-tree-node
                        ng-include="'inventory_renderer.html'"></li>
                </ol>
            </div>

            <pre class="code">{{ inventory | json }}</pre>
        </div>


        <div class="col-lg-6" ng-controller="ProgramCtrl">
            <h3>Program</h3>

            <div ui-tree="programOptions">
                <ol ui-tree-nodes ng-model="program.instructions">
                    <li ng-repeat="instruction in program.instructions track by instruction.programInstructionId"
                        ui-tree-node
                        ng-include="'program_renderer.html'"></li>
                </ol>
            </div>

            <pre class="code">{{ program | json }}</pre>
        </div>
    </div>
</div>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
<script type="text/javascript" src="controllers.js"></script>
<script type="text/javascript" src="directives.js"></script>
<script type="text/javascript" src="services.js"></script>
</body>
</html>