<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="robotTraining">

<script type="text/ng-template" id="inventory_renderer.html">
    <div ui-tree-handle class="tree-node" ng-controller="InstructionCtrl">
        <div class="tree-node-content">
            <a ng-if="instruction.isFunction" class="btn btn-success btn-xs" data-nodrag="" ng-click="toggle(this)"><span class="glyphicon glyphicon-chevron-down" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
            {{instruction.title}}
            <select data-nodrag ng-model="instruction.register" ng-if="instruction.register" ng-click=""
                    ng-options="storageOption.label for storageOption in instructionOptions.storage"></select>
            <select data-nodrag ng-model="instruction.condition" ng-if="instruction.condition" ng-click=""
                    ng-options="conditionOption.label for conditionOption in instructionOptions.condition"></select>
            <count></count>
            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)" ng-if="canRemove(this)"><span
                    class="glyphicon glyphicon-remove"></span></a>
            <div class="pull-right" ng-if="quantityRemaining(this) !== 'unlimited'">
                {{ quantityRemaining(this) }} Remaining
            </div>
        </div>
        <p ng-if="instruction.isCustomFunction && instruction.body.length === 0">Place function instructions here.</p>
        <ol ui-tree-nodes="" ng-model="instruction.body" ng-class="{hidden: collapsed}">
            <li ng-repeat="instruction in instruction.body" ui-tree-node ng-include="'inventory_renderer.html'">
            </li>
        </ol>
    </div>
</script>

<script type="text/ng-template" id="program_renderer.html">
    <div class="tree-node" ui-tree-handle ng-controller="InstructionCtrl">
        <div class="tree-node-content">
            <a ng-if="instruction.isFunction" class="btn btn-success btn-xs" data-nodrag="" ng-click="toggle(this)"><span class="glyphicon glyphicon-chevron-down" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
            {{instruction.title}}
            <select data-nodrag ng-model="instruction.register" ng-if="instruction.register" ng-click=""
                    ng-options="storageOption.label for storageOption in instructionOptions.storage"></select>
            <select data-nodrag ng-model="instruction.condition" ng-if="instruction.condition" ng-click=""
                    ng-options="conditionOption.label for conditionOption in instructionOptions.condition"></select>
            <count></count>
            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)" ng-if="canRemove(this)"><span
                    class="glyphicon glyphicon-remove"></span></a>
        </div>
    </div>

    <ol ui-tree-nodes ng-model="instruction.body" ng-class="{hidden: collapsed}" ng-if="!instruction.allowChildren"
        data-nodrop>
        <li ng-repeat="instruction in instruction.body" ui-tree-node
            ng-include="'program_renderer.html'">
        </li>
    </ol>
    <ol ui-tree-nodes ng-model="instruction.body" ng-class="{hidden: collapsed}" ng-if="instruction.allowChildren">
        <li ng-repeat="instruction in instruction.body" ui-tree-node
            ng-include="'program_renderer.html'">
        </li>
    </ol>

</script>

<div class="container">
    <div class="row">
        <div class="col-lg-6" ng-controller="InventoryCtrl">
            <h3>Inventory</h3>

            <div ui-tree="inventoryOptions">
                <ol ui-tree-nodes ng-model="inventory">
                    <li ng-repeat="instruction in inventory"
                        ui-tree-node
                        ng-include="'inventory_renderer.html'"></li>
                </ol>
            </div>

            <ol class="angular-ui-tree-nodes">
                <li class="angular-ui-tree-node">
                    <div class="group-title tree-handle">
                        <form class="form-inline ng-pristine ng-valid" role="form">
                            <div class="form-group">
                                <label class="sr-only" for="groupName">Group name</label>
                                <input type="text" class="form-control" ng-model="addFunctionName" id="groupName" placeholder="Function name">
                            </div>
                            <button type="submit" class="btn btn-default" ng-click="addFunction()">Add Function</button>
                        </form>
                    </div>
                </li>
            </ol>

            <pre class="code">{{ inventory | json }}</pre>
        </div>


        <div class="col-lg-6" ng-controller="ProgramCtrl">
            <h3>Program</h3>

            <div ui-tree="programOptions">
                <ol ui-tree-nodes ng-model="program">
                    <li ng-repeat="instruction in program"
                        ui-tree-node
                        ng-include="'program_renderer.html'"></li>
                </ol>
            </div>

            <pre class="code">{{ program | json }}</pre>
        </div>
    </div>
</div>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
<script type="text/javascript" src="controllers.js"></script>
<script type="text/javascript" src="directives.js"></script>
<script type="text/javascript" src="services.js"></script>
</body>
</html>