.space {
    background: url('/images/space-background.jpg') repeat;
}
.space #map .wall { background: url('/images/space-wall.jpg') no-repeat center center; }

.space #map .goal { background: url('/images/rocketP1.png') no-repeat center center; }

.space .persona {}

.wild-west {
    background: url('/images/bgdesert.jpg') repeat;
}
.wild-west #map .wall { background: url('/images/obstCountryGreenVertical.png') no-repeat center center; }
.wild-west #map .goal { background: url('/images/rocketP2.png') no-repeat center center; }

.country-green {
    background: url('/images/bgcountrygreen2.jpg') repeat;
}
.country-green  #map .wall { background: url('/images/obstCountryGreen.png') no-repeat center center; }
.country-green #map .goal { background: url('/images/rocketP3.png') no-repeat center center; }

.ocean {
    background: url('/images/bgOcean.jpg') repeat;
}
.ocean  #map .wall { background: url('/images/obstOcean.png') no-repeat center center; }
.ocean #map .goal { background: url('/images/rocketP4.png') no-repeat center center; }

.beach {
    background: url('/images/bgBeach2.png') repeat;
}
.beach  #map .wall { background: url('/images/obsBeach.png') no-repeat center center; }
.beach #map .goal { background: url('/images/rocketP5.png') no-repeat center center; }

.orange-fall {
    background: url('/images/bgOrangeFall.jpg') repeat;
}
.orange-fall  #map .wall { background: url('/images/obstOrangeFall.png') no-repeat center center; }
.orange-fall #map .goal { background: url('/images/rocketP6.png') no-repeat center center; }


.dark-mountain {
    background: url('/images/bgDarkMountain.png') repeat;
}
.dark-mountain  #map .wall { background: url('/images/obsDarkMountain.png') no-repeat center center; }

.dark-mountain #map .goal { background: url('/images/rocketP7.png') no-repeat center center; }

.winter {
    background: url('/images/bdWinter.png') repeat;
}
.winter  #map .wall { background: url('/images/obsWinter.png') no-repeat center center; }
.winter #map .goal { background: url('/images/rocketP8.png') no-repeat center center; }


#map .robot-up { background: url('/images/robot-up.png') no-repeat center center;  }
#map .robot-left { background: url('/images/robot-left.png') no-repeat center center;  }
#map .robot-down {
    background: url('/images/robot-down.png') no-repeat center;
}
#map .robot-right { background: url('/images/robot-right.png') no-repeat center center;  }

body {
    background: url('/images/bg1.gif') repeat;
}

.home-sidebar img {
    margin: 0 0 30px 0;
}

.home-sidebar button {
    margin: 20px 0;
    text-transform: uppercase;
    border: 2px solid #fffd81;
    color: #fff;
    background: #fffd81; /* Old browsers */
    background: -moz-linear-gradient(top, #fffd81 0%, #918300 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffd81), color-stop(100%, #918300)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fffd81 0%, #918300 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fffd81 0%, #918300 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fffd81 0%, #918300 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fffd81 0%, #918300 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffd81', endColorstr='#918300', GradientType=0); /* IE6-9 */
}